<section class="text-center vh-100">
    <div class="header d-flex align-items-center px-4">
    <div>
        <%= link_to image_tag("https://img.icons8.com/ultraviolet/344/long-arrow-left.png"), root_path, class: "back_btn" %>
    </div>
    <h4 class="text-white" style="text-align-center">TRANSACTIONS</h4>
    </div>

    <% if flash[:notice] %>
        <p class="notice" role="alert"><%= notice %></p>
    <% end %>
    <%= render @category %>
    <% @expenses.each do |expense| %>
        <div class="card m-3 rounded">
            <div class="h4 py-2"><%= expense.name.capitalize %></div>
            <p>$<%= expense.amount %></p>
        </div>
    <% end %>
</section>
